* {
    padding: 0;
    margin: 0;
}

input {
    outline: none;
}

input:focus {
    outline: none;
}

:root {
    --main-color: #e25412;
    --text-primary: #000000;
    --text-secundary: #ffffff;
    --bg-primary: #ffffff;
    --bg-secundary: #441c0a;


}

#main {
    width: 100vw;
    height: 100vh;
}

.painel {
    width: 400px;
    height: 400px;
    background-color: var(--main-color);
    border-radius: 20px;
}

.tecla {
    width: 60px;
    height: 60px;
    background-color: var(--bg-primary);
    margin: 5px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Letra */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    color: var(--text-primary);
    border: none;
}

.tecla:hover {
    background-color: var(--bg-secundary);
    color: var(--text-secundary);
    border: none;
}

.tecla:active {
    transform: scale(0.8);
}

li:hover h1 {
    border: 2px solid #FFFF00;
    color: #ff0000;
}

li:hover img {
    transform: scale(2);
}

.tecla,
.backspace {
    cursor: pointer;
}

.display {
    width: 300px;
    height: 60px;
    border-radius: 15px;
    margin: 5px;

}

.key {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin: 5px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3.5rem;
}

.password::after {
    content: '*';
    margin-top: 15px;
}

.backspace {
    width: 40px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-primary);
}

.backspace:hover {
    color: var(--text-secundary);
}

.backspace:active {
    transform: scale(0.8);
}

.password::after {
    content: '*';
    margin-top: 15px;
}